<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Hospital - Contact</title>
</head>
<body>
    <header>
        <h1>Contact Us</h1>

    </header>
    <section class="content">
        <h2>Contact Information</h2>
        <p>If you have any questions, feel free to reach out to us:</p>
        <address>
            Email: <a href="mailto:relation@elohimglobal.com">relation@elohiglobal.com</a><br>
            Phone: (+91) 678 456 987
        </address>
    </section>
    <footer>
        <p>&copy; 2023 Our Hospital. All rights reserved.</p>
    </footer>
</body>
</html>
