<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Hospital - Home</title>
</head>
<body>
    <header>
        <h1>Welcome to EL Elohim Eye Care Hospital</h1>

    </header>
    <section class="content">
        <h2>Welcome to Our {{obj}}</h2>
        <p>We are dedicated to providing high-quality healthcare services to our patients.</p>
    </section>
    <footer>
        <p>&copy; 2023 Our Hospital. All rights reserved.</p>
    </footer>
</body>
</html>
